@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply border-2 border-blue-700 rounded-lg px-4 py-2 hover:bg-cyan-500 transition-all
    }

    .center-flex {
        @apply flex flex-wrap justify-center mx-auto
    }

    .whole-shadow {
        box-shadow: 0px 0px 1.5rem -0.75rem rgba(0,0,0,0.75);
    }

    #signup-step::-webkit-scrollbar {
        height: 2px;
    }
    
    #signup-step::-webkit-scrollbar-thumb {
      background-color: #0c0b0b54;
    }
}

.form-image-right-mountain-biking {
    background: linear-gradient(to top, #0f0f0fba, #363636ba), url(/images/mountain-biking.jpg);
    filter: sepia(50%);
}

.form-image-right-triathlon {
    background: linear-gradient(to top, #0f0f0fba, #363636ba), url(/images/triathlon.jpg);
    filter: sepia(50%);
}